<%= flash[:notice] %>

<% if @book.errors.any? %>
  <div class = "alert">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Editing Book</h1>

<form>
<%= render 'form', book: @book %>
</form>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
